body {
    width: 80%;
    margin: 0 auto;
    font-family: "Calibri";
    background-color: rgb(222, 255, 210);
}
#obal  {
    min-width: 800px;
    background-color: rgb(222, 255, 210);
    border-radius: 0px;
    border: 0px solid rgb(0,192,61);
    padding: 0;
}
div {
    background-color: #7FFF5F;
    border-radius: 20px;
    border: 3px solid rgb(0,192,61);
    padding: 2%;
}
nav {
    text-align: center;
    position: fixed;
    width: 16%;
    min-width: 140px; 
}
nav > a > img {
    width: 128px; 
    margin: 51px 0;
    border: none; 
}
#slogan {
    font-size: 20px; 
    color: #000; 
    font-weight: bold; 
}
nav > ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    background-color: #7FFF5F;
    border: 3px solid rgb(0,192,61);
    border-radius: 20px;
    text-align: left;
}
nav > ul > li {
    display: block;
}
nav > ul > li:first-child > a{
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}
nav > ul > li:last-child > a{
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
}
nav > ul > li > a {
    padding: 10px 25%;
    text-decoration: none;
    font-weight: bold;
    color: #000;
    display: block;
    -webkit-transition: all 1s;  /* Saf3.2+, Chrome */
    -moz-transition: all 1s;  /* FF4+ */
    -ms-transition: all 1s;  /* IE10 */
    -o-transition: all 1s;  /* Opera 10.5+ */
    transition: all 1s;
}
nav > ul > li > a.zvyrazni {
    background-color: rgba(0,0,0,0.2);
}
nav > ul > li > a:hover {
    text-decoration: none;
    background-color: rgba(0,0,0,0.2);
}
table {
    width: 100%;
    text-align: left;
}
table, th, td {
    border: 1px solid black;
}
#galerie {
    border: none;
    text-align: center;
    vertical-align: middle;
    padding: 0;
}
#nadpis {
    background-color: rgb(222, 255, 210);
    color: #000;
    border: 0 !important;
    padding-left: 20%;
    padding-right: 20%;
    text-align: center;
    height: 184px;
}
article > h1 {
    font-size: 36px;
}
#bajka {
    color: rgb(0,192,61);
    font-size: 65px;
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 50px;
}
#obsah_vpravo {
    float: right;
    width: 15.5%;
}
#obsah_stranky {
    width: 54.5%;
    margin: 0 auto;
    min-width: 300px; 

}
.kategorie li {
    background-color: rgb(222, 255, 210); 
    border-radius: 20px;
    border: 3px solid rgb(0,192,61); 
    padding-left: 20px; 
    list-style: none;    
}
.kategorie li a {
     color: #000; 
     display: block; 
     width: 100%;
     height: 100%;  
     text-decoration: none; 
}
.kategorie li:hover {
     background-color: rgba(0,0,0,0.2);
}
.clanky li {
    background-color: rgb(222, 255, 210); 
    border-radius: 20px;
    border: 3px solid rgb(0,192,61); 
    padding-left: 20px; 
    list-style: none;  
    padding: 0 5px 10px 5px;  
}
.clanky li a {
     color: #000; 
     display: block; 
     width: 100%; 
     height: 100%; 
     text-decoration: none; 
}
.clanky li:hover {
     background-color: rgba(0,0,0,0.2);
}
.clanky li .datum {
     position: relative; 
     Font-weight: bold;   
}
.obsahclanek {
    background-color: rgb(222, 255, 210); 
    border-radius: 20px;
    border: 3px solid rgb(0,192,61); 
}
.prihlasit {
    background-color: rgb(0,192,61);
    border-radius: 20px; 
    padding: 2px; 
    position: absolute; 
    top: 10px;
    right: 10px; 
    text-decoration: none; 
    color: #fff; 
}

@media print {
    body {
        width: 90%;
    }
    div {
        border: none;
    }
    nav {
        display: none;
    }
    #nadpis {
        padding: 0;
    }
    #obsah_stranky {
        width: 100%;
    }
    #obsah_vpravo {
        display: none;
    }
}